.codeCard {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px solid var(--border-medium);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:active {
        background-color: var(--bg-secondary);
    }

    &__code {
        color: var(--primary);
        font-size: 1.5rem;
        font-weight: 700;
    }
}