.inlineAlert {
    border-radius: var(--border-radius-md);
    position: relative;
    font-size: 0.9rem;
    text-align: center;

    /* Начальное состояние - скрыто */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    border-width: 0;

    transition: all 0.3s ease-out;

    &--show {
        opacity: 1;
        max-height: 200px;
        padding: 12px 15px;
        border-width: 1px;
    }

    &--info {
        background-color: var(--bg-info);
        border: 1px solid var(--info);
        color: var(--info);
    }

    &--success {
        background-color: var(--bg-success);
        border: 1px solid var(--success);
        color: var(--success);
    }

    &--error {
        background-color: var(--bg-error);
        border: 1px solid var(--error);
        color: var(--error);
    }
}