.preferenceItem {
    padding: var(--spacing-md) 0;

    &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
    }

    &__info {
        flex: 1;
    }

    &__label {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-primary);
    }

    &__description {
        display: block;
        font-size: 0.875rem;
        color: var(--text-tertiary);
    }
}