.statusAlert {
    border-radius: var(--border-radius-md);
    font-size: 0.9rem;
    text-align: center;

    opacity: 0;
    max-height: 0;
    overflow: hidden;
    border-width: 0;
    max-width: 90%;
    width: max-content;

    transition: all 0.3s ease-out;

    &--relative {
        position: relative;
    }

    &--fixed {
        position: fixed;
    }

    &--show {
        opacity: 1;
        max-height: 200px;
        padding: var(--spacing-smd) var(--spacing-md);
        border-width: 1px;
    }

    &--info {
        background-color: var(--bg-info);
        border: 1px solid var(--info);
        color: var(--info);
    }

    &--success {
        background-color: var(--bg-success);
        border: 1px solid var(--success);
        color: var(--success);
    }

    &--error {
        background-color: var(--bg-error);
        border: 1px solid var(--error);
        color: var(--error);
    }

    &--center {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + var(--offset-x, 0px)), calc(-50% + var(--offset-y, 0px)));
    }

    &--top {
        top: var(--offset-y, 0px);
        left: 50%;
        transform: translateX(calc(-50% + var(--offset-x, 0px)));
    }

    &--bottom {
        bottom: var(--offset-y, 0px);
        left: 50%;
        transform: translateX(calc(-50% + var(--offset-x, 0px)));
    }

    &--left {
        left: var(--offset-x, 0px);
        top: 50%;
        transform: translateY(calc(-50% + var(--offset-y, 0px)));
    }

    &--right {
        right: var(--offset-x, 0px);
        top: 50%;
        transform: translateY(calc(-50% + var(--offset-y, 0px)));
    }

    &--top-left {
        top: var(--offset-y, 0px);
        left: var(--offset-x, 0px);
    }

    &--top-right {
        top: var(--offset-y, 0px);
        right: var(--offset-x, 0px);
    }

    &--bottom-left {
        bottom: var(--offset-y, 0px);
        left: var(--offset-x, 0px);
    }

    &--bottom-right {
        bottom: var(--offset-y, 0px);
        right: var(--offset-x, 0px);
    }
}